.card {
  margin: 10px;
  border: 3px solid rgb(194, 79, 79);
  min-height: 500px;

  background-color: rgb(199, 152, 24);
  justify-content: center;
  box-shadow: 7px 3px 3px rgb(231, 116, 8);
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
